@font-face {
	font-family: Brushed;
	src: url("../FONTS/BRUSHED.TTF");
}
@font-face {
	font-family: Roboto-Black;
	src: url("../FONTS/Roboto-Black.ttf");
}
@font-face {
	font-family: Roboto-Bold;
	src: url("../FONTS/Roboto-Bold.ttf");
}
@font-face {
	font-family: Roboto-Medium;
	src: url("../FONTS/Roboto-Medium.ttf");
}
@font-face {
	font-family: Exodus;
	src: url("../FONTS/Exodus.otf");
}
body {
margin: 0;
}
.nav-bar {
		background-color: #512D9D;
		width: 100%;
		height: 91px;
    z-index: 0;
	}
#Hamburger {
margin-top: 23px;
margin-left: 70px;
width: 56px;
height: 54px;
z-index: 1;
position: absolute;
}
#Hamburger:hover {
  opacity: .8;
  cursor: pointer;
}
h1 {
	margin-left: 3%;
	margin: auto;
	letter-spacing: 4px;
	padding-top: 0px;
	color: #E46C00;
	font-family: Exodus;
	font-size: 70px;
	text-align: center;

}
h1 a {
	color: #E46C00;
 text-decoration: none;
}
h1 span:hover {
 color: #F50057;
}
html {
 background-color: #E2DCEB;	
}
img {
 width: 100%;
 height: 550px;
}

.Article-Header-Info {
 margin-right: 465px;
 margin-left: 465px;
 text-align: center;
 width: 1000px;
 z-index: 1;
 position: inherit;
 color: black;
 font-family: "Roboto-Black";
 margin-top: 15px;

}
.Article-Header-Info h2{
 line-height: 80px;
 font-size: 50px;
 margin-top: 0px;	
 margin-bottom: -15px;
}
.Article-Header-Info h3 {
	font-family: "Roboto-Bold";
	font-size: 30px;
}
.Article-Header-Info h4 {
	font-family: "Roboto-Bold";
	font-size: 20px;
}
.Article-Header {
 z-index: -1;
 position: absolute;
 width: 100%; 
 height:300px;
 background-color: #F3E5F5;
}
.ssk-sticky .ssk-right{ 
 top: 500px; 
}
.Article-Text {
  line-height: 37px;
  font-size: 25px;
  font-family: "Roboto-Medium";
  margin-top: 300px;
  margin-left: 535px;
  margin-right: 490px;
}
.Article-Text-Info p {
z-index: 0;
}
.Article-Text h1 {
 line-height: 100px;
}
a:hover {
 text-decoration: none;
}
.Article-Text img {
	width:400px; 
	margin-left:250px;
	 height:400px
}
/* The Overlay (background) */
.Overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 88px;
    background-color: rgb(228,108,0); /*Orange fallback color */
    background-color: rgba(228,108,0 0.9); /* Orange w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.Overlay-content {
  font-size: 6.8em;
    font-family: Exodus;
    position: relative;
    height: 100%; /* 100% width */
    text-decoration: none;
    
}

/* The navigation links inside the overlay */
.Overlay a {
    text-decoration: none;
    color: #512D9D;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.Overlay a:hover, .overlay a:focus {
    background: #512D9D;
    color:#E46C00;
}

/* Position the close button (top right corner) */
.closebtn {
    position: absolute;
    z-index: 2;
    right: 45px;
    font-size: 70px !important; /* Override the font-size specified earlier (36px) for all navigation links */
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}
#Team {
padding-top: 20%;
padding-left: 15.1%;
float: right;
padding-right: 16%;
padding-bottom: 20%;

}
#Home {
padding-left: 10%;
 padding-right: 20%;
float: left;
padding-top: 20%;
padding-bottom: 20%;
}
@media screen and (max-width: 1400px)
 {

  .Article-Header-Info {
 margin-right: 265px;
 margin-left: 225px;
 text-align: center;
 width: 1000px;
  }
  .Article-Text img {
  	margin-left: 24%;
  }
  .Article-Text {
  	margin-left: 335px;
  margin-right: 290px;
  }
  #Team {
padding-left: 6%;
padding-right: 15.1%;


}
#Home {
padding-left: 5%;
padding-right: 18%;
}
}